@import "../../../../../public/theme/_var.scss";

.myAds_page {
    .row {
        margin: -2rem;

        >div {
            padding: 2rem;
        }

        @media (max-width: 1479px) {
            margin: -1rem;

            >div {
                padding: 1rem;
            }
        }
    }

    .myAds_card {
        padding: 2rem;
        border: 1px solid $baseclr;
        border-radius: 2rem;
        background-color: rgba($cardbg , 0.3);
        display: flex;
        flex-direction: column;
        height: 100%;

        @media (max-width: 1399px) {
            padding: 1.6rem;
        }

        .myAds_card_img {
            img {
                width: 100%;
                height: 20rem;
                background-color: $cardbg;
                object-fit: contain;
                object-position: center;
                border-radius: 1rem;

                @media (max-width: 1399px) {
                    height: 16rem;
                }
            }
        }

        h3 {
            font-size: 2.4rem;
            margin: 2rem 0 1rem;

            @media (max-width: 1399px) {
                font-size: 2rem;
            }

        }

        .myAds_progress {
            .myAds_progress_bar {
                display: flex;
                align-items: center;
                background-color: rgba($darkclr, 0.3);
                border-radius: 4rem;

                span {
                    &.myAds_progress_bar_done {
                        width: 20%;
                        height: 0.8rem;
                        background-color: $darkclr;
                        border-radius: inherit;
                        transition: 200ms ease-in-out;
                        max-width: 100%;
                    }
                }
            }

            .myAds_progress_details {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 0.8rem;

                h4 {
                    font-size: 1.6rem;

                    @media (max-width: 1399px) {
                        font-size: 1.4rem;
                    }
                }

                p {
                    font-size: 2rem;

                    @media (max-width: 1399px) {
                        font-size: 1.6rem;
                    }
                }
            }
        }

        .myAds_txt {
            font-size: 1.6rem;
            font-weight: 500;
            margin-bottom: 2rem;

            a {
                color: $baseclr;
                text-shadow: 0 0 0rem rgba($darkclr, 1);
                text-decoration: underline;
            }
        }

        button {
            &.btn {
                margin-top: auto;
            }
        }
    }
}