.card {
    padding: 20px;    
}
.card-title.h5 {
    font-size: 3rem;
    margin: 10px 0px;
}

.card-body {
    padding: 20px;
}

.text-center.card {
    border-radius: 20px;
}

p.card-text {
    font-size: 1.7rem;
    font-weight: 400;
    margin: 15px 0px;
}